# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=0.15.0=pypi_0
astunparse=1.6.3=pypi_0
ca-certificates=2024.3.11=h06a4308_0
cachetools=5.3.3=pypi_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
dm-tree=0.1.8=pypi_0
engineering-notation=0.10.0=pypi_0
flatbuffers=1.12=pypi_0
gast=0.4.0=pypi_0
google-auth=2.29.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.34.1=pypi_0
h5py=3.1.0=pypi_0
idna=3.7=pypi_0
importlib-metadata=7.1.0=pypi_0
keras=2.5.0rc0=pypi_0
keras-nightly=2.5.0.dev2021032900=pypi_0
keras-preprocessing=1.1.2=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
mdurl=0.1.2=pypi_0
namex=0.0.8=pypi_0
ncurses=6.4=h6a678d5_0
numpy=1.19.5=pypi_0
oauthlib=3.2.2=pypi_0
onnx=1.16.0=pypi_0
opencv-python=4.9.0.80=pypi_0
openssl=3.0.13=h7f8727e_1
opt-einsum=3.3.0=pypi_0
pip=24.0=py39h06a4308_0
protobuf=3.20.3=pypi_0
pyaer=0.2.7a0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pygments=2.18.0=pypi_0
pyserial=3.5=pypi_0
python=3.9.19=h955ad1f_1
readline=8.2=h5eee18b_0
requests=2.32.2=pypi_0
requests-oauthlib=2.0.0=pypi_0
rich=13.7.1=pypi_0
rsa=4.9=pypi_0
setuptools=69.5.1=py39h06a4308_0
six=1.15.0=pypi_0
sqlite=3.45.3=h5eee18b_0
tensorboard=2.11.2=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.5.2=pypi_0
tensorflow-estimator=2.5.0=pypi_0
tensorflow-model-optimization=0.7.3=pypi_0
termcolor=1.1.0=pypi_0
tk=8.6.14=h39e8969_0
typing-extensions=3.7.4.3=pypi_0
tzdata=2024a=h04d1e81_0
urllib3=2.2.1=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py39h06a4308_0
wrapt=1.12.1=pypi_0
xz=5.4.6=h5eee18b_1
zipp=3.18.2=pypi_0
zlib=1.2.13=h5eee18b_1
