[Desktop Entry]
Type=Application
Version=1.0
Exec=gnome-terminal --command ~/Dropbox/GitHub/SensorsINI/dextra-roshambo-python/dextra.sh
Hidden=false
Name=Dextra
X-GNOME-Autostart-enabled=true
GenericName=Dextra
Comment=Run dextra demo
Encoding=UTF-8
Terminal=true
