keras
tensorflow
opencv-python
numpy
pyserial
pyaer # needs libcaer; see https://github.com/duguyue100/pyaer
engineering_notation
torch
engineeringformat
tensorflow-model-optimization # pip install --user --upgrade
