keras
tensorflow==2.5.0
opencv-python
numpy
matplotlib
pyserial
engineering_notation
torch
pyyaml
tensorflow-model-optimization # pip install --user --upgrade
pyaer # needs libcaer; see https://github.com/duguyue100/pyaer
